<launch>
  <!-- <include file="$(find sweep_ros)/launch/sweep2scan.launch" /> -->
  <include file="$(find rplidar_ros)/launch/rplidar_a3.launch" />

  <node pkg="jeep_ros_comm" type="jeep_ros_comm.py" name="jeep_ros_comm" />
  
  <arg name="map_file" default="/home/karl/Downloads/rplidar_mapF_clean_global_costmap_house_boundary.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" output="screen"/>

  <include file="$(find jeep_2dnav)/launch/rplidar_amcl.launch" />
  <!-- <node pkg="jeep_2dnav" type="jeep_icp_segs.py" name="jeep_icp" output="screen"/> -->

  <include file="$(find nav_sim)/launch/move_base_nav.launch" />

  <node pkg="jeep_ros_comm" type="jeep_local_planner_sim.py" name="jeep_planner" output="screen"/>
  <!-- <node pkg="jeep_2dnav" type="mow_path.py" name="mow_path" output="screen"/> -->
  
</launch>
