<launch>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find jeep_2dnav)/move_base_params.yaml" command="load" />
    <remap from="cmd_vel" to="ignore_vel" />
    <rosparam file="$(find jeep_2dnav)/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find jeep_2dnav)/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find jeep_2dnav)/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find jeep_2dnav)/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find jeep_2dnav)/teb_local_planner_params.yaml" command="load" />
    <rosparam file="$(find jeep_2dnav)/global_planner_params.yaml" command="load" />
  </node>
</launch>
