<launch>
  <include file="$(find jeep_2dnav)/launch/rplidar.launch" />

  <include file="$(find jeep_2dnav)/launch/filter_scan.launch" />

  <node pkg="jeep_ros_comm" type="jeep_ros_comm.py" name="jeep_ros_comm" />
  
  <include file="$(find jeep_2dnav)/launch/gmap_mod_params.launch" />

  <include file="$(find jeep_2dnav)/launch/jeep_move_base_nav.launch" />

  <node pkg="jeep_ros_comm" type="jeep_local_planner_sim.py" name="jeep_planner" output="screen"/>
  <!-- <node pkg="jeep_2dnav" type="mow_path.py" name="mow_path" output="screen"/> -->
  
</launch>
